  tencentcloud_secret_id: YOURID
  tencentcloud_secret_key: YOURKEY
  mysql:
    - yourinstanceid1
    - yourinstanceid2
mysql:
  - InstanceId: cdb-aaaaa
mongodb:
  - target: cmgo-aaaaaa-node-primary
redis:
  - instanceid: crs-aaaaa
    clusterid: crs-aaaaa
kafka_topic:
  - instanceId: ckafka-aaaaa
    topicId: topic-aaaaa
kafka_partition:
  - consumerGroup: aab
    instanceId: ckafka-aaaa
    topicId: topic-aaaaa
    topicName: province_resources_topic
    partition: 0
